<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Airbnb Search</title>
    <link href='src/css/app.css' rel='stylesheet' />
  </head>
  <body>
    <div id='search-app'>
      <form id='search' onsubmit='return false;'>
        <input id='location' type='text' />
        <input id='search-button' type='submit' value='Search' />
        <label for='checkin'>Check in</label>
        <input id='checkin' type='text' />
        <label for='checkout'>Check out</label>
        <input id='checkout' type='text' />
        <label for='guests'>Guests</label>
        <input id='guests' type='text' />
      </form>
      <div id='result'>
        <div id='count'></div>
        <ol id='listings'></ol>
      </div>
    </div>
    <script id='listing-template' type='text/template'>
      <a src='http://www.airbnb.com/rooms/<%= id %>'>
        <img class='thumbnail' src='<%= thumbnail_url %>' />
        <h2><%- name %></h2>
        <p><%- smart_location %></p>
        <div class='cost'>
          <div class='price'><%- price_formatted %></div>
        </div>
      </a>
    </script>
    <script src='lib/jquery.js'></script>
    <script src='lib/underscore.js'></script>
    <script src='lib/backbone.js'></script>
    <script src='src/javascript/app.js'></script>
  </body>
</html>
